body {
    background-image: url("images/bgd.svg");
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-position: fill;
}
.container{
    width: 720px;
    height: 420px;
    background-color: #ffffff;
    margin: 50px auto;
    margin-top: 110px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
}
.qrContainer{
    padding: 30px;
    width: 330px;
    border: 1px solid #ededed;
}
.sliderContainer{
    padding: 30px;
    width: 300px;
    border: 1px solid #ededed;
}
.zohoLogo{
    height: 25px;
    margin-bottom: 0px;
}
h4{
    font-weight: 400;
    margin-bottom: 0;
}
.qrC{
    text-align: center;
}
small{
    font-size: 12px;
    text-align: center;
    font-weight: 100;
    color: #787878;
}
.d1b{
    margin-top: 20px;
    width: 180px;
    height: 30px;
    border: 0.2px solid #000000;
    border-radius: 15px;
    background-color: inherit;
    font-size: 11px;
    color: #787878;
}
.bu{
    text-align: center;
}
.d1b:hover{
    cursor: pointer;
}
li{
    font-size: 11px;
    margin-top: 10px;
    font-weight: lighter;
}
.stepB{
    font-size: 11px;
    font-weight: lighter;
}
h5{
    font-weight: lighter;
}