body{
    background-color: #d3d3d3;
}
img{
    width: 199px;
    margin-top: 36px;
    position:absolute;
}
.container{
    background-color: #ffffff;
    border-radius: 16px;
    position: relative;
    margin: auto;
    border: 1px solid #000000;
    width: 999px;
    height: 180px;
    margin-top: 99px;
}
.buttons{
  text-align: center;
  margin-top: 20px;
}
button{
  margin: 16px;
  width: 69px;
  height: 30px;
  border-radius: 9px;
  background-color: #efefef;
  font-size: 16px;
}
button:hover{
  cursor:pointer;
  background-color: #ffffff;
}