*{
    background: #e2e2e2;
}
img{
  width : 640px;
  height: 440px;
  box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.102);
  border-radius: 15px;
  background-color: white;
  position: absolute;
}
#ic{
  border-radius: 15px;
  background-color: #efefef;
  margin: auto;
  margin-top: 99px;
  position: relative;
  width : 640px;
  height: 440px;
}
hr{
  width: 100%;
}
.im{
  opacity: 0;
  transition: 0.5s;
}
.cont{
  margin-top: 15px;
  text-align: center;
}
button{
  margin: 10px;
  width: 45px;
  height: 27px;
  border-radius: 3px;
}